@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: justify;
}

body{
    background-color: black;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 7em;
}